[submodule "packages/contracts/lib/solmate"]
	path = packages/contracts/lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "packages/contracts/lib/ERC721A"]
	path = packages/contracts/lib/ERC721A
	url = https://github.com/chiru-labs/ERC721A
[submodule "packages/contracts/lib/forge-std"]
	path = packages/contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "packages/contracts/lib/prb-test"]
	path = packages/contracts/lib/prb-test
	url = https://github.com/PaulRBerg/prb-test
[submodule "packages/contracts/lib/solidity-trigonometry"]
	path = packages/contracts/lib/solidity-trigonometry
	url = https://github.com/mds1/solidity-trigonometry
